<header class="header">
	<div class="container container-header">
		<div class="header__block-about">
		<img class="header__logo" src="img/logo.png" alt="Logo">
		<p class="header__about">
			Это уникальная платформа для взаимодейтсвия пациентов и докторов. С 
			помощью нее пользователи могут находясь дома получить консультацию 
			от лучших специалистов со всего мира! Взаимосвязь между докторами и 
			пациентами происходит через видеосвязь которая надёжно защищена с
			 помощью многослойной архитектуры и криптопротоколов, что позволяет 
			 не переживать за конфиденциальность своих данных.
		</p>
	</div>
	<span class="white-line"></span>
	<div class="header__tech tech">
		<h3 class="tech__title">skills</h3>
		<span class="tech__line"></span>
		<div class="tech__list">
			<div class="tech__item fl-left">
				<img class="tech__img" src="img/techs/tech-ui.png" alt="UI">
				<div class="tech__name">ui</div>
			</div>
			<div class="tech__item">
				<img class="tech__img" src="img/techs/tech-ux.png" alt="UX">
				<div class="tech__name">ux</div>
			</div>
			<div class="tech__item fl-left">
				<img class="tech__img" src="img/techs/tech-html5.png" alt="html5">
				<div class="tech__name">html 5</div>
			</div>
			<div class="tech__item fl-left">
				<img class="tech__img" src="img/techs/tech-css3.png" alt="css3">
				<div class="tech__name">css 3</div>
			</div>
			<div class="tech__item fl-left">
				<img class="tech__img" src="img/techs/tech-bootstrap.png" alt="bootstrap-3">
				<div class="tech__name">bootstrap 3</div>
			</div>
			<div class="tech__item fl-left">
				<img class="tech__img" src="img/techs/tech-yii2.png" alt="yii2">
				<div class="tech__name">yii 2</div>
			</div>
			<div class="tech__item">
				<img class="tech__img" src="img/techs/tech-mysql.png" alt="mysql">
				<div class="tech__name">mysql</div>
			</div>
			<div class="tech__item fl-left">
				<img class="tech__img" src="img/techs/tech-jquery.png" alt="jquery">
				<div class="tech__name">jquery</div>
			</div>
			<div class="tech__item fl-left">
				<img class="tech__img" src="img/techs/tech-php.png" alt="php">
				<div class="tech__name">php</div>
			</div>
			<div class="tech__item fl-left item-lg">
				<img class="tech__img" src="img/techs/tech-kur_server.svg" alt="kurento server">
				<div class="tech__name">kurento server</div>
			</div>
			<div class="tech__item fl-left">
				<img class="tech__img" src="img/techs/tech-webrtc.svg" alt="webrtc">
				<div class="tech__name">webrtc</div>
			</div>
		</div>
	</div>
	</div>
	<div class="wrap-img">
		<img class="header__mackbook" src="img/mackbook.png" alt="mackbook">
	</div>
</header>