<section class="section section-hist">
    <div class="block-arrow">
        <div class="container">
            <img class="arrow-bottom" src="img/arrow-b-big.png" alt="Arrov bottom">
        </div>
    </div>
    <div class="block-hist">
    <div class="container">
        <span class="section__time">
            23:13 pm
        </span>
        <div>
            <div class="hor-line">
                <ul class="stages">
                    <div class="list__group"><li class="stage__item">1 этап</li></div>
                    <div class="list__group"><li class="stage__item">1 этап</li></div>
                    <div class="list__group"><li class="stage__item">1 этап</li></div>
                </ul>

            </div>
        </div>
        <img class="section__mem" src="img/mem.png" alt="Mem">
        <div>
            <div class="vert-line v-line-left">
            <ul class="services">
                <li class="service__item"><div class="marker-active"><span class="marker"></span></div><a class="service__link" href="#">Dashboard</a></li>
                <li class="service__item"><div class="marker-active"><span class="marker"></span></div><a class="service__link" href="#">Account</a></li>
                <li class="service__item"><div class="marker-active js-active"><span class="marker"></span></div><a class="service__link" href="#">Consult</a></li>
                <li class="service__item"><div class="marker-active"><span class="marker"></span></div><a class="service__link" href="#">History</a></li>
                <li class="service__item"><div class="marker-active"><span class="marker"></span></div><a class="service__link" href="#">Wallet</a></li>
                <li class="service__item"><div class="marker-active"><span class="marker"></span></div><a class="service__link" href="#">Conference</a></li>
                <li class="service__item"><div class="marker-active"><span class="marker"></span></div><a class="service__link" href="#">Exit</a></li>
            </ul>

            </div>
        </div>
    </div>
    </div>
</section>