<section class="section section-doctor">
<div class="container">
    <form class="form-search" action="#" method="get">
        <div class="control-search">
            <input class="inp" type="text">
            <img class="search-icon" src="img/icon-search.png" alt="search">
        </div>
    </form>

    <img class="section__doctor" src="img/doctor-big.png" alt="Doctor">
    <div>
        <div class="vert-line v-line-left">
            <img class="vert-line__circle" src="img/circle-blue.svg" alt="Circle">
            <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
            </p>
            <a class="btn" href="#">Записатся</a>
            <div class="info-next">
                <img class="img-next-small" src="img/arrow-right-small.png" alt="next">
                <p class="close-info">
                    filip smith
                </p>
            </div>
        </div>
    </div>

    </div>
</section>