<section class="section section-patient">
	<div class="container">
	<div>
		<div class="vert-line v-line-left">
			<img class="vert-line__circle" src="img/circle.svg" alt="Circle">
			<p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum
				dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,
				consectetur adipiscing elit.
			</p>
			<a class="btn" href="#">Lorem</a>
		</div>
	</div>
		<h1 class="section__title">patient</h1>
		<img class="section__close" src="img/close-blue.png" alt="close">
		<img class="section__patient" src="img/patient.png" alt="Patient">
		<div class="block-close">
			<div class="info-close-small">
				<img class="img-circle" src="img/circle-close.png" alt="close">
				<img class="img-cross" src="img/cross.png" alt="close">
			</div>
			<p class="close-info">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>
		</div>
	</div>
</section>