.section-patient{
    background: linear-gradient(to left, #fafafa 50%, #0495ff 50%);
    padding-top: 55px;
    position: relative;
    overflow: hidden;

    & .section__title{
      opacity: 0.04;
      color: #028dff;
      top: 20%;
    }

    & .block-close{
        position: absolute;
        bottom: 30px;
        right: 170px;
    }
    & .info-close-small{
        width: 72px;
        height: 72px;
      cursor: pointer;
        position: absolute;
        bottom: 110px;
        right: 150px;
    }
    & .img-circle{
      z-index: 2;
      position: absolute;
    }
    & .img-cross{
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(70%, 70%);
        z-index: 0;
    }
    & .close-info{
      width: 180px;
      height: 96px;
      text-align: right;
      text-transform: uppercase;
      color: #028dff;
      font-family: Affect-Light;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.67px;
    }

    & .vert-line{
        position: absolute;
        height: 505px;
        top: -55px;

        &__circle {
            top: 75%;
        }

        & .about {
            margin-top: 390px;
    }
    }
    & .section__close{
        float: right;
        width: 222px;
        height: 222px;
        margin-right: 100px;
        cursor: pointer;
    }

}
.section{
    &__patient{
        margin-left: 33%;
        margin-top: 300px;
        margin-bottom: -6px;
        z-index: 1;
        position: relative;

    }
}