.section-social{
    background-image: linear-gradient(135deg, #0084ff 0%, #06a0ff 83%, #08a6ff 100%);
    padding-bottom: 270px;
    overflow: hidden;
    padding-top: 100px;
    position: relative;

    & .social-list{
        list-style-type: square;
        color: white;
        margin-top: 140px;

        &__link{
            text-decoration: none;
            color: white;
            font-family: Affect-Light;
            font-size: 12px;
            line-height: 40px;
            text-transform: uppercase;
            letter-spacing: 3.4px;
        }
    }
    & .info{
        width: 190px;
        position: relative;
        margin-left: 20%;
        margin-top: 120px;

        &__text{
            color: #ffffff;
            font-family: "Road Radio";
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.67px;
            text-transform: uppercase;
            font-family: Affect-Light;
        }
        &__close{
            position: absolute;
            right: -50px;
            cursor: pointer;
        }
    }
    & .vert-line{
        position: absolute;
        top: -100px;
        right: 240px;

        & .about{
            margin-left: 30px;
            margin-top: 300px;
            width: 211px;
            color: #ffffff;
            font-family: Affect-Light;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .btn{
            text-transform: uppercase;
            text-decoration: none;
            position: absolute;
            z-index: 2;
            color: white;
            padding: 8px 40px;
            border-radius: 6px;
            border-radius: 100px;
            border: 2px solid #ffffff;
        }

        &__circle{
            position: absolute;
            top: 70%;
            transform: translateX(-50%);
        }
    
    
    }
}

.section{
    &__title{
        opacity: 0.08;
        color: #ffffff;
        font-family: bebas-neue, sans-serif;
        font-size: 420px;
        margin: 0;
        text-align: center;
        font-stretch: condensed;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        transform: translateX(-45%);
    }

    &__doctor{
        margin-left: 38%;
        position: absolute;
        top: 10px;
    }

}
