.section-hist{

  & .block-arrow{
    position: relative;
    padding: 50px 0;
    height: 190px;
  }
  & .arrow-bottom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 222px;
    height: 222px;
  }

  & .block-hist{
    background-image: linear-gradient(135deg, #0084ff 0%, #08a6ff 100%);
    padding-bottom: 300px;
  }
  & .vert-line{
    position: absolute;
    top: 355px;
    margin-left: 0;
    height: 620px;
  }
  & .section__mem{
    opacity: 0.3;
  }

  & .hor-line{
    width: 330px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 170px;
    left: 355px;
  }
  & .section__time{
    position: absolute;
    top: 150px;
    font-size: 35px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-family: Affect-Light;
    letter-spacing: 1.17px;
  }
  & .stages{
    list-style: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: space-between;
    color: white;
}
  & .services{
    list-style: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding-left: 20px;
    margin-top: 105px;

  }
  & .service__item{
    position: relative;
    line-height: 28px;
  }
  & .service__link{
    text-decoration: none;
    color: white;
  }
  & .marker{
    background-color: white;
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  & .marker-active{
    width: 17px;
    height: 17px;
    border: none;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
  & .js-active{
    border: 1px solid #ffffff;
  }
}